* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  /* To ensure rem works as expected. */
}

body {
  display: flex;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@font-face {
  font-family: logo-font;
  src: url(./fonts/Norse-Bold.otf);
}

:root {
  --left-width: 25vw;
  --left-block-text-clr: aliceblue;
  --right-box-width: 75vw;
}

.left-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--left-width);
  background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: var(--left-width) 100vh;
  align-items: center;
}

#background-opacity {
  position: absolute;
  height: 100vh;
  width: var(--left-width);
  background: rgba(26, 25, 25, 0.349);
}

#logo {
  height: 80%;
}

#logo-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  background-color: black;
  background: rgba(17, 15, 15, 0.548);
  margin-top: 40%;
}

h1 {
  font-family: logo-font, sans-serif;
  color: var(--left-block-text-clr);
  font-size: 5rem;
}

#img-credit {
  position: relative;
  margin-top: auto;
  margin-bottom: 4%;
}

#img-credit,
#img-credit a {
  color: var(--left-block-text-clr);
}

#main-box {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: var(--right-box-width);
}

#top-box,
#bottom-box {
  display: flex;
  width: var(--left-block-text-clr);
  height: 35vh;
}

#form-box {
  display: flex;
  background-color: green;
  height: 30vh;
  flex-direction: column;
  width: var(--right-box-width);
}

#top-box {
  background-color: red;
  flex-direction: column;
  justify-content: center;
}

#main-text,
#extra-text {
  margin-left: 3%;
  font-size: 2rem;
}

#main-text {
  margin-bottom: 2%;
}

#extra-text {
}

#bottom-box {
  background-color: aqua;
}

h3 {
  font-size: 1.5rem;
  margin-left: 3%;
  margin-top: 1%;
}
